* {
    padding: 0px;
    margin: 0px;
    border: 0px;
}

.allfather {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    background-color: #f8e8f1;
}

.main {
    background: #ff3d3d;
    width: 800px;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 33px;
    box-shadow: 1px 3px 20px 2px rgba(0,0,0,0.51);
    -webkit-box-shadow: 1px 3px 20px 2px rgba(0,0,0,0.51);
    -moz-box-shadow: 1px 3px 20px 2px rgba(0,0,0,0.51);
    
}

/* TITLE OF THE GAME */

.title {
    font-family: "Brush Script MT";
    font-size: 40px;
    padding-top: 33px;
    color: rgb(202, 172, 0);
    font-weight: bold;
}

/* MIDDLE BOX */

.box {
    display: flex;
    background-color: white;
    width: 600px;
    height: 450px;
}

.aRow {
    background-color: white;
    display: flex;
    flex-direction: column;
    flex: 1;
    /*margin: 1px;*/
    transition: all 0.10s;
}

.aCell {
    background-color: #fff;
    display: flex;
    flex: 1;
    /*margin: 1px;*/
    
}

.aCell:hover {
    background:black;
    }


.temp-margin {
    margin: 1px;
    background-color: lightpink;
}
/* CONTROLS */

.controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 790px;
}

.gridsize {
    border-radius: 50%;
    background: linear-gradient(225deg, #ffffff, #e6dddd);
    box-shadow:  -41px 41px 82px #666262;
    width: 100px;
    height: 100px;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gridsize:hover {
    background: linear-gradient(225deg, #e6dddd, #ffffff);
    box-shadow:  -41px 41px 82px #666262;

}

.sizebutton {
    width: 25px;
    height: 21px;
    background-color: black;
    border-color: white;
}

.resetbutton {
    border-radius: 12px;
    background: linear-gradient(225deg, #ffffff, #e6dddd);
    box-shadow:  -9px 9px 18px #666262;
    width: 100px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-family: "Arial";
    color: rgb(151, 151, 151);
}

.resetbutton:hover {
    background: linear-gradient(225deg, #e6dddd, #ffffff);
    color: rgb(93, 93, 93);
}

.pen-color {
    border-radius: 50%;
    background: linear-gradient(225deg, #ffffff, #e6dddd);
    box-shadow:  -41px 41px 82px #666262;
    width: 100px;
    height: 100px;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pen-color:hover {
    background: linear-gradient(225deg, #e6dddd, #ffffff);
    box-shadow:  -41px 41px 82px #666262;

}

#cchanger {
    width: 30px;
    height: 30px;
}

/* FOOTER */

.footerbox {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 13px;
    padding: 10px;
    font-family: Helvetica;
    font-weight: bold;
    transition: all 0.5s;
    max-height: 45px;
}

.gitlogo{
    transition: all 0.35s;
}

.gitlogo:hover{
    transform: rotate(360deg) scale(1.1);
    
}

