* {
    padding: 0px;
    margin: 0px;
    border: 0px;
}

.allfather {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    background-color: #f8e8f1;
}

.main {
    background-color: red;
    width: 800px;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 33px;
    box-shadow: 1px 3px 20px 2px rgba(0,0,0,0.51);
    -webkit-box-shadow: 1px 3px 20px 2px rgba(0,0,0,0.51);
    -moz-box-shadow: 1px 3px 20px 2px rgba(0,0,0,0.51);
}

.title {
    font-family: "Brush Script MT";
    font-size: 40px;
    padding-top: 33px;
    color: rgb(202, 172, 0);
    font-weight: bold;
}

.controls {
    padding: 33px;
}

.box {
    display: flex;
    background-color: white;
    width: 600px;
    height: 450px;
}

.aRow {
    background-color: white;
    display: flex;
    flex-direction: column;
    flex: 1;
    /*margin: 1px;*/
}

.aCell {
    background-color: #fff;
    display: flex;
    flex: 1;
    /*margin: 1px;*/
    
}

.aCell:hover {
    background:black;
    }